{% extends 'frontend/remotepowerdevices/remotepowerdevice.html' %}

{% block tabcontent %}
  <div class="row">
    <div class="col-10">
      <div class="container-fluid">
        <div class="title">
          <h5>Machines using {{ remotepowerdevice.fqdn }}</h5>
        </div>

        {% if remotepowers %}
          <table class="table table-striped table-bordered table-fixed small">
            <thead class="thead-default">
              <tr style="border: 1px solid #ddd;">
                <th>Machine</th>
              </tr>
            </thead>

            <tbody>
              {% for remotepower in remotepowers %}
                <tr>
                  <td>
                    <a
                      href="{% url 'frontend:detail' remotepower.machine.pk %}"
                      class="text-muted"
                      >{{ remotepower.machine.fqdn }}</a
                    >
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="alert alert-info">
            No machines use this remote power device.
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-2">
      {% include 'frontend/remotepowerdevices/detail/actions.html' %}
    </div>
  </div>
{% endblock %}
