[Unit]
Description=Orthos taskmanager
Requires=nginx.service
Wants=logrotate.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=orthos
Group=orthos
Environment=DJANGO_SETTINGS_MODULE=orthos2.settings
ExecStart=/usr/bin/django-admin taskmanager --start
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
