{% extends 'frontend/base.html' %}
{% load static %}
{% load tags %}

{% block navbar %}
{% include 'frontend/snippet.navlinks.html' %}
{% endblock %}

{% block content %}

{% include 'frontend/dailytasks/dailytasks_filterbar.html' %}
{% include 'frontend/snippet.paginator.html' %}

<div class="container-fluid">
  {% if page_obj %}
    <table class="table table-striped table-bordered table-fixed">
      <thead class="thead-default">
        <tr style="border: 1px solid #ddd;">
          <th>Name {% order_list request 'name' %}</th>
          <th>Module</th>
          <th>Enabled</th>
          <th>Running</th>
          <th width="80px">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        {% for dailytask in page_obj %}
          <tr>
            <td>
              <a
                href="{% url 'frontend:dailytask_detail' dailytask.pk %}"
                class="text-muted"
                >{{ dailytask.name }}</a
              >
            </td>
            <td>{{ dailytask.module }}</td>
            <td>{{ dailytask.enabled }}</td>
            <td>{{ dailytask.running }}</td>
            <td>
              <a
                href="{% url 'frontend:delete_dailytask' dailytask.pk %}"
                class="btn btn-danger btn-sm"
              >
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'frontend/snippet.paginator.html' %}
  {% else %}
    <div class="alert alert-info">No daily tasks found!</div>
  {% endif %}
</div>
{% endblock %}
