FQDN="" # Set the FQDN for the Orthos Frontend here
PROJECT="" #production, master, or next. defaults to production
ORTHOS2_NETBOX_AUTH_SCHEME=''
ORTHOS2_NETBOX_URL=""
ORTHOS2_SUPERUSER_PASSWORD=""
ORTHOS2_DB_ENGINE=""
ORTHOS2_POSTGRES_HOST=""
ORTHOS2_POSTGRES_NAME=""
ORTHOS2_POSTGRES_USER=""
ORTHOS2_POSTGRES_PASSWORD=""
ALLOWED_HOSTS=""
CSRF_TRUSTED_ORIGINS=""
CSRF_ALLOWED_ORIGIN=""
CROSS_ORIGINS_WHITELIST=""
OIDC_ENDPOINT=""
OIDC_KEY=""
