[MASTER]

# Add files or directories matching the regex patterns to the blacklist. The
# regex matches against base names, not paths.
ignore-patterns=^\d{4}_.*.py

[MESSAGES CONTROL]

disable=all,
        maybe-no-member,
        missing-function-docstring,
        missing-class-docstring,
        missing-module-docstring,

enable=c-extension-no-member,
      unused-import,
      unused-variable,
      undefined-variable,
      raw-checker-failed,
      bad-inline-option,
      locally-disabled,
      file-ignored,
      suppressed-message,
      useless-suppression,
      deprecated-pragma,
      use-symbolic-message-instead,
      logging-format-interpolation,
      wrong-import-order,
      line-too-long,
      superfluous-parens,
      logging-not-lazy,
      missing-format-argument-key,
      bad-indentation,

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[SIMILARITIES]

# Ignore imports when computing similarities.
ignore-imports=no

[IMPORTS]

# Deprecated modules which should not be used, separated by a comma.
deprecated-modules=optparse,tkinter.tix

[CLASSES]

# List of valid names for the first argument in a metaclass class method.
valid-metaclass-classmethod-first-arg=cls
