[Unit]
Description=Orthos Server
Requires=apache.service

[Service]
User=orthos
Group=orthos
ExecStart=/usr/bin/python /usr/share/orthos2-git/orthos2/manage.py taskmanager --start

[Install]
WantedBy=multi-user.target

