{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Orthos - {{ title }}</title>
    <meta name="description" content="Orthos">
    <link rel="stylesheet" href="{% static 'frontend/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/custom.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/fa/css/all.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'frontend/images/orthos.png' %}" >
    {% block links %}
    {% endblock %}
  </head>
  <body>

    <script>
      if (localStorage.getItem('orthos2.sidenavCollapsed') === 'true') {
        document.documentElement.classList.add('sidenav-collapsed');
      }
    </script>

    <nav class="navbar navbar-expand-lg" style="background: #0D2C40;">
      <div class="container-fluid">
        <button type="button" class="btn btn-link link-light text-decoration-none sidenav-toggle" id="sidenav-toggle" aria-controls="sidenav" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars fa-lg"></i>
        </button>
        <a class="navbar-brand d-none d-lg-flex align-items-center ms-2" href="{% url 'frontend:machines' %}">
          <img src="{% static 'frontend/images/orthos.png' %}" width="30px"/>
          <span class="ms-2" style="color: #fff; font-size: 22px; font: Gotham, Arial, sans-serif;"><strong>Orthos</strong></span>
        </a>
        <div class="ms-auto">
          {% include 'frontend/snippet.userbar.html' %}
        </div>
      </div>
    </nav>

    <div class="d-flex" id="app-shell">
      <div class="offcanvas-lg offcanvas-start sidenav text-white flex-shrink-0" tabindex="-1" id="sidenav" style="background: #0D2C40; width: 260px;">
        <div class="offcanvas-header d-lg-none">
          <a class="navbar-brand" href="{% url 'frontend:machines' %}">
            <img src="{% static 'frontend/images/orthos.png' %}" width="40px" style="float: left;"/>
            <span class="ms-2"></span>
            <span style="color: #fff; font-size: 30px; font: Gotham, Arial, sans-serif;"><strong>Orthos</strong></span>
          </a>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" data-bs-target="#sidenav" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column p-0">
          {% block navbar %}
            {% include 'frontend/snippet.navlinks.html' %}
          {% endblock %}
        </div>
      </div>

      <div class="flex-grow-1" id="page-content-wrapper" style="min-width: 0; padding-top: 15px;">
        {% if messages %}
        {% for message in messages %}
        <div class="container-fluid">
          <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
          {{ message }}
          </div>
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
      </div>
    </div>

    <script src="{% static 'frontend/js/jquery.js' %}"></script>
    <script src="{% static 'frontend/js/jquery-ui.js' %}"></script>
    <script src="{% static 'frontend/js/popper.min.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontend/js/sidenav.js' %}"></script>

    {% block javascript_imports %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
    <script>
    $(document).ajaxStart(function() {
      $('#spinner').show();
      $('.machine-statusbar #message').html('');
      $('#machine-statusbar').removeClass(function (index, css) {
        return (css.match (/\balert-\S+/g) || []).join(' '); // removes "alert-*"
      });
      $('#machine-statusbar').show();
      if (typeof machineStatusbarfFadOutTimer !== 'undefined') {
        clearTimeout(machineStatusbarfFadOutTimer);
      }
    });

    $(document).ajaxStop(function() {
      $('#spinner').hide();
    });

    function showMachineStatusBarMessage (data) {
      var cls = data.cls;
      var message = data.message.trim();
      var messageArray = message.split('\n');
      var messageFirstLine = messageArray[0];
      var messageAdditionalLinesArray = messageArray.slice(1);

      var printMessage = messageFirstLine;

      if (messageAdditionalLinesArray.length > 0) {
        messageAdditionalLinesArray = messageAdditionalLinesArray + "";
        messageAdditionalLinesArray = messageAdditionalLinesArray.replace(/'/g,'"');
        messageAdditionalLinesArray = messageAdditionalLinesArray.replace(/"/g,'');

        printMessage += ' <a href="javascript:void(0);" onClick=\'alert(\"' + messageAdditionalLinesArray + '\");\'>(more)</a>';
      }
      $('.machine-statusbar #message').html(printMessage);
      $('#machine-statusbar').addClass('alert-' + cls);
      machineStatusbarfFadOutTimer = setTimeout(function() {
        $('#machine-statusbar').fadeOut();
      }, 5000);
    }

    $('#spinner').hide();
    </script>
  </body>
</html>
