{% load tags %}

<div class="container-fluid" style="margin-bottom: 15px;">
  <div class="row">
    <div class="col-12 d-flex align-items-center">
      {% if architectures and domains %}
      <div class="d-flex align-items-center flex-wrap">
      <div class="dropdown" style="display: inline-block;">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonArch" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% get_current_arch_filter request %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonArch">
          <a class="dropdown-item" href="?{% url_replace request 'arch' '' True %}">All Architectures</a>
          <div class="dropdown-divider"></div>
          {% for architecture in architectures %}
          <a class="dropdown-item" href="?{% url_replace request 'arch' architecture.name %}">{{ architecture.name }}</a>
          {% endfor %}
        </div>
      </div>

      <span class="ms-2"/>

      <div class="btn-group" role="group">
        <a class="btn btn-secondary btn-sm {% active request 'ping' %}" href="?{% url_replace request 'status' 'ping' %}" role="button">Ping</a>
        <a class="btn btn-secondary btn-sm {% active request 'ssh' %}" href="?{% url_replace request 'status' 'ssh' %}" role="button">SSH</a>
        <a class="btn btn-secondary btn-sm {% active request 'login' %}" href="?{% url_replace request 'status' 'login' %}" role="button">Login</a>
        <a class="btn btn-secondary btn-sm" href="?{% url_replace request 'status' '' True %}" role="button">&#215;</a>
      </div>

      <span class="ms-2"/>

      <div class="dropdown" style="display: inline-block;">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% get_current_domain_filter request %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="?{% url_replace request 'domain' domain.name True %}">All Network Domains</a>
          <div class="dropdown-divider"></div>
          {% for domain in domains %}
          <a class="dropdown-item" href="?{% url_replace request 'domain' domain.name %}">{{ domain.name }}</a>
          {% endfor %}
        </div>
      </div>

      <span class="ms-2"/>

      <span class="hint" style="margin-right: 0.5rem;">NetBox Synchronized</span>
      <div class="btn-group" role="group" style="margin-right: 0.5rem;">
        <a class="btn btn-secondary btn-sm {% active request '1' %}" href="?{% url_replace request 'has_netbox' '1' %}" role="button">Yes</a>
        <a class="btn btn-secondary btn-sm {% active request '0' %}" href="?{% url_replace request 'has_netbox' '0' %}" role="button">No</a>
        <a class="btn btn-secondary btn-sm" href="?{% url_replace request 'has_netbox' '' True %}" role="button">&#215;</a>
      </div>

      <span class="ms-2"/>

      {% include 'frontend/snippet.search.html' %}

      <span class="ms-2"/>


      <div style="display: inline-block">
          <span class="hint">Found {{ paginator.count }} Machine(s)</span>
      </div>
      </div>
      {% endif %}

      {% if perms.data and perms.data.add_machine %}
      <a class="nav-link ms-auto" href="{% url 'frontend:machine_add' %}">
        <button type="button" class="btn btn-success">+</button>
      </a>
      {% endif %}

    </div>
  </div>
</div>
