{% load tags %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item {% active_view request 'machines' %}">
    <a class="nav-link" href="{% url 'frontend:machines' %}">All Machines</a>
  </li>
  <li class="nav-item {% active_view request 'free_machines' %}">
    <a class="nav-link" href="{% url 'frontend:free_machines' %}">Free Machines</a>
  </li>
  <li class="nav-item {% active_view request 'my_machines' %}">
    <a class="nav-link" href="{% url 'frontend:my_machines' %}">My Machines</a>
  </li>
  <li class="nav-item {% active_view request 'virtual_machines' %}">
    <a class="nav-link" href="{% url 'frontend:virtual_machines' %}">Virtual Machines</a>
  </li>
  <li class="nav-item {% active_view request 'advanced_search' %}">
    <a class="nav-link" href="{% url 'frontend:advanced_search' %}">Advanced Search</a>
  </li>
  <li class="nav-item {% active_view request 'statistics' %}">
    <a class="nav-link" href="{% url 'frontend:statistics' %}">Statistics</a>
  </li>
</ul>
