{% extends 'frontend/base.html' %}
{% load static %}
{% load tags %}
{% load filters %}

{% block navbar %}
  {% include 'frontend/snippet.navlinks.html' %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <main class="col-12">
        <ul class="nav nav-tabs gray">
          <li class="nav-item">
            <a
              class="nav-link {% active_view request 'remotepowerdevice_detail' %}"
              href="{% url 'frontend:remotepowerdevice_detail' remotepowerdevice.pk %}"
              >Overview</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% active_view request 'remotepowerdevice_netbox_comparisons' %}"
              href="{% url 'frontend:remotepowerdevice_netbox_comparisons' remotepowerdevice.pk %}"
              >Netbox Comparison</a
            >
          </li>
        </ul>

        <div class="tab-content">
          {% block tabcontent %}
          {% endblock %}
        </div>
        <span style="font-size: 0.7em; font-family: Monospace;"
          >API:
          <a href="{% url 'api:remotepowerdevice' %}?fqdn={{ remotepowerdevice.fqdn }}"
            >{% url 'api:remotepowerdevice' %}?fqdn={{ remotepowerdevice.fqdn }}</a
          >
          | Edit:
          <a href="{% url 'admin:data_remotepowerdevice_change' remotepowerdevice.id %}"
            >{% url 'admin:data_remotepowerdevice_change' remotepowerdevice.id %}</a
          ></span
        >
      </main>
    </div>
  </div>
{% endblock %}
