{% extends 'machines/machine.html' %}

{% block tabcontent %}
<a name="#top"/>
<div>
  <a href="#hwinfo">hwinfo</a>
  <a href="#dmidecode">dmidecode</a>
  <a href="#dmesg">dmesg</a>
  <a href="#lsmod">lsmod</a>
</div>

<a name="hwinfo"/>
<div class="title">
  <h5>hwinfo Output</h5>
</div>

<pre class="monospace">
{{ machine.hwinfo }}
</pre>
<a href="#top">Back to top...</a>

<a name="dmidecode"/>
<div class="title">
  <h5>dmidecode Output</h5>
</div>

<pre class="monospace">
{{ machine.dmidecode }}
</pre>
<a href="#top">Back to top...</a>

<a name="dmesg"/>
<div class="title">
  <h5>dmesg Output</h5>
</div>

<pre class="monospace">
{{ machine.dmesg }}
</pre>
<a href="#top">Back to top...</a>

<a name="lsmod"/>
<div class="title">
  <h5>lsmod Output</h5>
</div>

<pre class="monospace">
{{ machine.lsmod }}
</pre>
<a href="#top">Back to top...</a>
{% endblock %}
