[Unit]
Description=Orthos server
Requires=nginx.service
Wants=logrotate.service

[Service]
User=orthos
Group=orthos
ExecStart=/bin/sh -c '/usr/lib/orthos2/manage.py runserver $(hostname -s).$(dnsdomainname):8000'

[Install]
WantedBy=multi-user.target
