[Unit]
Description=Orthos server
Requires=nginx.service
Wants=logrotate.service

StartLimitIntervalSec=500
StartLimitBurst=2

[Service]
User=orthos
Group=orthos
ExecStart=/usr/bin/gunicorn orthos2.wsgi:application

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
