[Unit]
Description=Orthos server
Requires=nginx.service
Wants=logrotate.service

[Service]
User=orthos
Group=orthos
ExecStart=/usr/lib/orthos2/manage.py runserver orthos2.arch.suse.de:8000

[Install]
WantedBy=multi-user.target
