{% extends 'frontend/machines/machine.html' %}
{% load static %}

{% block tabcontent %}
<div>
  <div id="terminal-container" style="line-height: 1em"></div>
</div>

{% endblock %}

{% block javascript_imports %}
<script src="{% static 'frontend/js/xterm/xterm.js' %}"></script>
<script src="{% static 'frontend/js/xterm/dist/addons/terminado/terminado.js' %}"></script>
{% endblock %}

{% block javascript %}
<script>
var term = new Terminal();
var protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://';
var socketURL = protocol + location.hostname + ':{{ port }}/machine/{{ machine.hostname }}/console';
var sock = new WebSocket(socketURL);

sock.addEventListener('open', function () {
  term.terminadoAttach(sock);
});

sock.onclose = function(event) {
  var data = {
    cls: 'danger',
    message: "Connection lost (code: " + event.code + ")"
  };
  showMachineStatusBarMessage(data);
};

term.open(document.getElementById('terminal-container'));
</script>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'frontend/xterm.css' %}">
{% endblock %}

