{% extends 'frontend/machines/machine.html' %}

{% block tabcontent %}
<table class="table table-striped small" style="border: 1px solid #ddd">
  <tbody class="thead-default">
    <tr>
      <td class="th fw-bold" width="150px">Model</td>
      <td>{{ machine.cpu_model }}</td>
    </tr>
    <tr>
      <td class="th fw-bold">ID</td>
      <td>{{ machine.cpu_id }}</td>
    </tr>
    <tr>
      <td class="th fw-bold">Flags</td>
      <td>{{ machine.cpu_flags }}</td>
    </tr>
    <tr>
      <td class="th fw-bold">Physical</td>
      <td>{{ machine.cpu_physical }}</td>
    </tr>
    <tr>
      <td class="th fw-bold">Cores</td>
      <td>{{ machine.cpu_cores }}</td>
    </tr>
    <tr>
      <td class="th fw-bold">Threads</td>
      <td>{{ machine.cpu_threads }}</td>
    </tr>
    <tr>
      <td class="th fw-bold">Speed</td>
      <td>{{ machine.cpu_speed }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
