{% extends 'frontend/machines/machine.html' %}
{% load filters %}

{% block tabcontent %}
<table class="table table-bordered small">
  <thead class="thead-default">
    <th>Active</td>
    <th>Distribution</td>
    <th>Architecture</td>
    <th>Kernel Version</td>
    <th>Partition</td>
  </thead>
  <tbody>
    {% for installation in machine.installations.all %}
    <tr>
      <td>{{ installation.active|boolean_image:15|safe }}</td>
      <td>{{ installation.distribution }}</td>
      <td>{{ installation.architecture }}</td>
      <td>{{ installation.kernelversion }}</td>
      <td>{{ installation.partition }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
