{% extends 'frontend/machines/machine.html' %}

{% block tabcontent %}
<div class="row">
  <div class="col-5">
    {% include 'frontend/machines/detail/snippets/general.html' %}
    {% include 'frontend/machines/detail/snippets/system.html' %}
  </div>

  <div class="col-5">
    {% include 'frontend/machines/detail/snippets/status.html' %}
    {% include 'frontend/machines/detail/snippets/reservation.html' %}
    {% include 'frontend/machines/detail/snippets/platform.html' %}
    {% include 'frontend/machines/detail/snippets/annotations.html' %}
  </div>

  <div class="col-2">
    {% include 'frontend/machines/detail/snippets/sidebar.html' %}
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$('#js-noteinput').change(function () {
  var annotation = $(this).val();

  $.ajax({
    url: '{% url 'frontend:ajax_annotation' machine.id %}',
    data: {
      'text': annotation
    },
    dataType: 'json',
    success: function (data) {
      console.log(data);
      var reporter = data.reporter;
      var date = data.date;
      var text = data.text;
      $('#js-notelist').prepend('<tr><td>' + data.text + ' <small>(' + data.reporter + ' ' + data.date + ')</small></td></tr>');
    }
  });
  $(this).val("");
});

function powercycle(action) {
  $.ajax({
    url: '{% url 'frontend:ajax_powercycle' machine.id %}?action=' + action,
    beforeSend: function() {
      $('.power-btn-group').children().addClass('disabled')
    },
    success: function(data) {
      showMachineStatusBarMessage(data);
      $('.power-btn-group').children().removeClass('disabled');
    },
  });
}

function regenerate_domain_cscreen() {
  $.ajax({
    url: '{% url 'frontend:regenerate_domain_cscreen' machine.id %}',
    beforeSend: function() {
      $('.regenerate-domain-cscreen').addClass('disabled')
    },
    success: function(data) {
      showMachineStatusBarMessage(data);
      $('.regenerate-domain-cscreen').removeClass('disabled')
    }
  })
}

function regenerate_domain_cobbler() {
  $.ajax({
    url: '{% url 'frontend:regenerate_domain_cobbler' machine.id %}',
    beforeSend: function() {
      $('.regenerate-domain-cobbler').addClass('disabled')
    },
    success: function(data) {
      showMachineStatusBarMessage(data);
      $('.regenerate-domain-cobbler').removeClass('disabled')
    }
  })
}

function regenerate_machine_motd() {
  $.ajax({
    url: '{% url 'frontend:regenerate_machine_motd' machine.id %}',
    beforeSend: function() {
      $('.regenerate-machine-motd').addClass('disabled')
    },
    success: function(data) {
      showMachineStatusBarMessage(data);
      $('.regenerate-machine-motd').removeClass('disabled')
    }
  })
}

function regenerate_machine_cobbler() {
  $.ajax({
    url: '{% url 'frontend:regenerate_machine_cobbler' machine.id %}',
    beforeSend: function() {
      $('.regenerate-machine-cobbler').addClass('disabled')
    },
    success: function(data) {
      showMachineStatusBarMessage(data);
      $('.regenerate-machine-cobbler').removeClass('disabled')
    }
  })
}
</script>
{% endblock %}
