{% extends 'frontend/machines/machine.html' %}

{% block tabcontent %}
<div class="row">
  <div class="col-5">
    {% include 'frontend/machines/detail/snippets/general.html' %}
    {% include 'frontend/machines/detail/snippets/system.html' %}
  </div>

  <div class="col-5">
    {% include 'frontend/machines/detail/snippets/status.html' %}
    {% include 'frontend/machines/detail/snippets/reservation.html' %}
    {% include 'frontend/machines/detail/snippets/platform.html' %}
    {% include 'frontend/machines/detail/snippets/annotations.html' %}
  </div>

  <div class="col-2">
    {% include 'frontend/machines/detail/snippets/sidebar.html' %}
  </div>
</div>

<div class="modal fade" id="cobbler-prune-modal" tabindex="-1" role="dialog" aria-labelledby="cobblerPruneModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cobblerPruneModalLabel">Cobbler Diff</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Orthos machines: <strong id="orthos-machine-count">0</strong><br/>
          Cobbler machines: <strong id="cobbler-machine-count">0</strong><br/>
          Machines selected for deletion: <strong id="stale-machine-count">0</strong>
        </p>
        <div class="row">
          <div class="col-4">
            <h6>Orthos</h6>
            <ul class="list-group" id="orthos-machine-list"></ul>
          </div>
          <div class="col-4">
            <h6>Cobbler</h6>
            <ul class="list-group" id="cobbler-machine-list"></ul>
          </div>
          <div class="col-4">
            <h6>Delete from Cobbler</h6>
            <ul class="list-group" id="stale-machine-checkbox-list"></ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirm-cobbler-prune-btn">Delete Selected</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$('#js-noteinput').change(function () {
  var annotation = $(this).val();

  $.ajax({
    url: '{% url 'frontend:ajax_annotation' machine.id %}',
    data: {
      'text': annotation
    },
    dataType: 'json',
    success: function (data) {
      console.log(data);
      var reporter = data.reporter;
      var date = data.date;
      var text = data.text;
      $('#js-notelist').prepend('<tr><td>' + data.text + ' <small>(' + data.reporter + ' ' + data.date + ')</small></td></tr>');
    }
  });
  $(this).val("");
});

function powercycle(action) {
  $.ajax({
    url: '{% url 'frontend:ajax_powercycle' machine.id %}?action=' + action,
    beforeSend: function() {
      $('.power-btn-group').children().addClass('disabled')
    },
    success: function(data) {
      showMachineStatusBarMessage(data);
      $('.power-btn-group').children().removeClass('disabled');
    },
  });
}


function deactivate_sol() {
  $.ajax({
    type: 'POST',
    url: '{% url 'frontend:ajax_deactivate_sol' machine.id %}',
    beforeSend: function() {
      // Avoid double-submits while the backend deactivation request is running.
      $('.deactivate-sol').addClass('disabled')
    },
    complete: function() {
      $('.deactivate-sol').removeClass('disabled')
    },
    success: function(data) {
      showMachineStatusBarMessage(data);
    },
  });
}

function regenerate_domain_cscreen() {
  $.ajax({
    url: '{% url 'frontend:regenerate_domain_cscreen' machine.id %}',
    beforeSend: function() {
      $('.regenerate-domain-cscreen').addClass('disabled')
    },
    success: function(data) {
      showMachineStatusBarMessage(data);
      $('.regenerate-domain-cscreen').removeClass('disabled')
    }
  })
}

function regenerate_domain_cobbler() {
  $.ajax({
    url: '{% url 'frontend:regenerate_domain_cobbler' machine.id %}?mode=diff',
    beforeSend: function() {
      $('.regenerate-domain-cobbler').addClass('disabled')
    },
    success: function(data) {
      var orthosMachines = data.orthos_machines || [];
      var cobblerMachines = data.cobbler_machines || [];
      var staleMachines = data.stale_machines || [];

      $('#orthos-machine-count').text(orthosMachines.length);
      $('#cobbler-machine-count').text(cobblerMachines.length);

      $('#orthos-machine-list').empty();
      $('#cobbler-machine-list').empty();
      $('#stale-machine-checkbox-list').empty();

      orthosMachines.forEach(function (fqdn) {
        $('#orthos-machine-list').append('<li class="list-group-item py-1">' + fqdn + '</li>');
      });

      cobblerMachines.forEach(function (fqdn) {
        $('#cobbler-machine-list').append('<li class="list-group-item py-1">' + fqdn + '</li>');
      });

      staleMachines.forEach(function (fqdn, idx) {
        var checkboxId = 'stale-machine-' + idx;
        $('#stale-machine-checkbox-list').append(
          '<li class="list-group-item py-1">' +
          '<div class="form-check">' +
          '<input class="form-check-input stale-machine-checkbox" type="checkbox" checked value="' + fqdn + '" id="' + checkboxId + '">' +
          '<label class="form-check-label" for="' + checkboxId + '">' + fqdn + '</label>' +
          '</div>' +
          '</li>'
        );
      });

      updateSelectedStaleMachineCount();
      $('#cobbler-prune-modal').modal('show');
      $('.regenerate-domain-cobbler').removeClass('disabled')
    }
  })
}

function updateSelectedStaleMachineCount() {
  var selectedCount = $('.stale-machine-checkbox:checked').length;
  $('#stale-machine-count').text(selectedCount);
}

$(document).on('change', '.stale-machine-checkbox', function () {
  updateSelectedStaleMachineCount();
});

$('#confirm-cobbler-prune-btn').on('click', function () {
  var selected = $('.stale-machine-checkbox:checked').map(function () {
    return $(this).val();
  }).get();

  var selectedCount = selected.length;
  if (!confirm('Delete ' + selectedCount + ' machine(s) from Cobbler?')) {
    return;
  }

  $.ajax({
    url: '{% url 'frontend:regenerate_domain_cobbler' machine.id %}',
    data: {
      mode: 'prune',
      fqdn: selected,
    },
    traditional: true,
    beforeSend: function() {
      $('#confirm-cobbler-prune-btn').addClass('disabled')
    },
    success: function(data) {
      showMachineStatusBarMessage(data);
      $('#cobbler-prune-modal').modal('hide');
      $('#confirm-cobbler-prune-btn').removeClass('disabled')
    },
    error: function() {
      $('#confirm-cobbler-prune-btn').removeClass('disabled')
    }
  });
});

function regenerate_machine_motd() {
  $.ajax({
    url: '{% url 'frontend:regenerate_machine_motd' machine.id %}',
    beforeSend: function() {
      $('.regenerate-machine-motd').addClass('disabled')
    },
    success: function(data) {
      showMachineStatusBarMessage(data);
      $('.regenerate-machine-motd').removeClass('disabled')
    }
  })
}

function regenerate_machine_cobbler() {
  $.ajax({
    url: '{% url 'frontend:regenerate_machine_cobbler' machine.id %}',
    beforeSend: function() {
      $('.regenerate-machine-cobbler').addClass('disabled')
    },
    success: function(data) {
      showMachineStatusBarMessage(data);
      $('.regenerate-machine-cobbler').removeClass('disabled')
    }
  })
}
</script>
{% endblock %}
