{% extends 'base.html' %}
{% load tags %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item {% active_view request 'login' %}">
    <a class="nav-link" href="{% url 'frontend:login' %}">Login</a>
  </li>
  <li class="nav-item {% active_view request 'create_user' %}">
    <a class="nav-link" href="{% url 'frontend:create_user' %}">Create Account</a>
  </li>
  <li class="nav-item {% active_view request 'password_restore' %}">
    <a class="nav-link" href="{% url 'frontend:password_restore' %}">Restore Password</a>
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <form class="form-signin" method="post">
        {% csrf_token %}
        <div class="row" style="margin: 5px;">
          <input type="text" name="username" id="id_username" class="form-control" placeholder="Login" required autofocus/>
        </div>
        <div class="row" style="margin: 5px;">
          <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required/>
        </div>
        <div class="row" style="margin: 5px;">
          <button class="btn btn-block" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
