{% extends 'machines/machine.html' %}
{% load filters %}

{% block tabcontent %}
<div class="title">
  <h5>Network Interfaces</h5>
</div>

<table class="table table-bordered small">
  <thead class="thead-default">
    <th width="200px">MAC Address</th>
    <th width="70px">Primary</th>
    <th>Name</th>
    <th>Driver Module</th>
    <th>Ethernet Type</th>
  </thead>
  <tbody>
    {% for network_interface in machine.networkinterfaces.all %}
    <tr>
      <td>{{ network_interface.mac_address }}</td>
      <td>{{ network_interface.primary|boolean_image:15|safe }}</td>
      <td>{{ network_interface.name }}</td>
      <td>{{ network_interface.driver_module }}</td>
      <td>{{ network_interface.ethernet_type }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="title">
  <h5>Management Interfaces</h5>
</div>

<table class="table table-bordered small">
  <thead class="thead-default">
    <th width="200px">MAC Address</th>
    <th>BMC</th>
    <th>Comment</th>
  </thead>
  <tbody>
    {% for bmc in machine.enclosure.get_bmc_list %}
    <tr>
      <td>{{ bmc.mac_address }}</td>
      <td>
        {{ bmc.fqdn }}
        <small>(<a href="http://{{ bmc.fqdn }}">http</a>|<a href="https://{{ bmc.fqdn }}">https</a>)</small></td>
      <td>{{ bmc.comment }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3" style="text-align: center;">No BMC(s) available.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
