{% load filters %}
<div class="title">
  <h5>Reservation</h5>Current Reservation Status
</div>

{% if machine.reserved_by %}
<table class="table table-striped table-bordered small">
  <tbody>
    <tr>
      <td width="150px" class="th">Owner</td>
      <td><a href="mailto:{{ machine.reserved_by.email }}?subject={{ machine.fqdn }}">{{ machine.reserved_by }}</a></td>
    </tr>
    <tr>
      <td class="th">Period</td>
      <td>
        {{ machine.reserved_at }}
        {% if machine.is_reserved_infinite %}
        - infinite
        {% else %}
        - {{ machine.reserved_until }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td class="th">Reason</td>
      <td><span class="monospace">{{ machine.reserved_reason }}</span></td>
    </tr>
  </tbody>
</table>
{% else %}
<p>Machine is not reserved.</p>
{% endif %}
