{% extends 'frontend/base.html' %}
{% load static %}
{% load tags %}
{% load filters %}

{% block navbar %}
  {% include 'frontend/snippet.navlinks.html' %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <main class="col-12">
        <ul class="nav nav-tabs gray">
          <li class="nav-item">
            <a
              class="nav-link {% active_view request 'manufacturer_detail' %}"
              href="{% url 'frontend:manufacturer_detail' manufacturer.pk %}"
              >Overview</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% active_view request 'manufacturer_device_types' %}"
              href="{% url 'frontend:manufacturer_device_types' manufacturer.pk %}"
              >Device Types</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% active_view request 'manufacturer_netbox_comparisons' %}"
              href="{% url 'frontend:manufacturer_netbox_comparisons' manufacturer.pk %}"
              >Netbox Comparison</a
            >
          </li>
        </ul>

        <div class="tab-content">
          {% block tabcontent %}
          {% endblock %}
        </div>
        <span style="font-size: 0.7em; font-family: Monospace;"
          >API:
          <a href="{% url 'api:manufacturer' %}?name={{ manufacturer.name }}"
            >{% url 'api:manufacturer' %}?name={{ manufacturer.name }}</a
          ></span
        >
      </main>
    </div>
  </div>
{% endblock %}
