{% extends 'frontend/serialconsoletypes/serialconsoletype.html' %}

{% block tabcontent %}
  <div class="row">
    <div class="col-10">
      <div class="container-fluid">
        <div class="title">
          <h5>{{ serialconsoletype.name }}</h5>
        </div>

        <table class="table table-striped table-bordered small">
          <tbody class="thead-default">
            <tr>
              <td class="th fw-bold" width="150px">Name</td>
              <td>{{ serialconsoletype.name }}</td>
            </tr>
            <tr>
              <td class="th fw-bold">Command</td>
              <td>{{ serialconsoletype.command }}</td>
            </tr>
            <tr>
              <td class="th fw-bold">Comment</td>
              <td>{{ serialconsoletype.comment }}</td>
            </tr>
            <tr>
              <td class="th fw-bold">Has IPMI SOL?</td>
              <td>{{ serialconsoletype.has_ipmi_sol }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-2">
      {% include 'frontend/serialconsoletypes/detail/actions.html' %}
    </div>
  </div>
{% endblock %}
