{% load filters %}
{% load static %}
<div class="title">
  <h5>Annotations</h5>
  Machine Features, Glitches, Hardware Upgrades, Bios Updates, etc.
</div>

<div class="table table-striped small scrolltablecontainer overflow-auto">
  <table class="">
    <tbody id="js-notelist">
      {% for annotation in machine.annotations.all %}
        <tr>
          <td>
            {{ annotation.text|urlizetrunc:100 }}
            <small>
              ({{ annotation.reporter }}
              {{ annotation.created|date:"SHORT_DATE_FORMAT" }})
            </small>
            {% if request.user.is_superuser %}
              <a
                class="btn btn-danger btn-sm"
                href="{% url 'frontend:delete_annotation' annotation.pk %}"
                >Delete</a
              >
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="input-group" style="padding-bottom: 5px">
  <input
    type="text"
    id="js-noteinput"
    class="form-control form-control-sm"
    placeholder="Add Annotation (no Bugreports)..."
  />
  <button class="btn btn-secondary btn-sm" type="button">Save</button>
</div>
