{% load tags %}
{% load static %}
<div class="col-6 text-right text-sm header" style="color: #ffffff;"><p class="small">
  {% if user.is_authenticated %}
  {% if user.is_superuser %}
  <i class="fa fa-user-md fa-lg"></i> {{ user.username }}
  {% else %}
  <i class="fa fa-user fa-lg"></i> {{ user.username }}
  {% endif %}
  <span class="spacer-20"/>
  <a href="{% url 'frontend:preferences_user' %}"><i class="fa fa-cogs fa-lg"></i> Preferences</a>
  {% endif %}
  <span class="spacer-20"/>

  {% if user.is_superuser or not user.is_authenticated %}
  <a href="{% url 'admin:index' %}"><i class="fa fa-sliders fa-lg"></i> Administration</a><span class="spacer-20"/>
  {% endif %}

  <a href="{% get_bugreport_url %}"><i class="fa fa-bug fa-lg"></i> Bugreport</a><span class="spacer-20"/>

  <a href="{% get_cli_url %}"><i class="fa fa-download fa-lg"></i> Download CLI</a><span class="spacer-20"/>

  <a href="{% get_documentation_url %}"><i class="fa fa-info-circle fa-lg"></i> Documentation</a>

  {% if user.is_authenticated %}
  <span class="spacer-20"/><a href="{% url 'frontend:logout' %}"><i class="fa fa-sign-out fa-lg"></i> Logout</a></p>
  {% endif %}
</div>
