{% extends 'frontend/base.html' %}

{% load static %}
{% load filters %}
{% load tags %}

{% block content %}

<div class="container-fluid" style="margin-bottom: 15px;">
  <div class="row">
    <div class="col-12 d-flex align-items-center flex-wrap">

      <div class="dropdown" style="display: inline-block;">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButtonObjectType" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% get_current_object_type_filter request %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonObjectType">
          <a class="dropdown-item" href="?{% url_replace request 'object_type' '' True %}">All Object Types</a>
          <div class="dropdown-divider"></div>
          {% for value, label in object_types %}
          <a class="dropdown-item" href="?{% url_replace request 'object_type' value %}">{{ label }}</a>
          {% endfor %}
        </div>
      </div>

      <span class="ms-2"></span>

      <form method="get" class="d-flex align-items-center flex-wrap">
        <label class="hint" for="id_date_from" style="margin-right: 0.5rem;"
          >From</label
        >
        <input
          type="date"
          name="date_from"
          id="id_date_from"
          class="form-control form-control-sm"
          style="width: 160px;"
          value="{{ date_from }}"
        />

        <span class="ms-2"></span>

        <label class="hint" for="id_date_to" style="margin-right: 0.5rem;"
          >To</label
        >
        <input
          type="date"
          name="date_to"
          id="id_date_to"
          class="form-control form-control-sm"
          style="width: 160px;"
          value="{{ date_to }}"
        />

        <span class="ms-2"></span>

        <button type="submit" class="btn btn-secondary btn-sm">Filter</button>
        <a
          href="{% url 'frontend:compare_netbox_overview' %}"
          class="btn btn-secondary btn-sm ms-2"
          >Clear</a
        >
      </form>

      <span class="ms-2"></span>

      {% include 'frontend/snippet.search.html' with search_hint='Object Name' %}

      <span class="ms-2"></span>

      <span class="hint">Found {{ paginator.count }} Comparisons</span>

    </div>
  </div>
</div>

<div class="container-fluid">
  {% if runs %}

  <table class="table table-striped table-bordered table-fixed">
    <thead class="thead-default">
      <tr style="border: 1px solid #ddd">
        <th>UUID {% order_list request 'run_id' %}</th>
        <th>Run at {% order_list request 'compare_timestamp' %}</th>
        <th>Object Type {% order_list request 'object_type' %}</th>
        <th>Object Name</th>
      </tr>
    </thead>
    <tbody>
      {% for run in runs %}
      <tr>
        <th>
          <a
            href="{% url 'frontend:compare_netbox_details' run.run_id %}"
            class="text-muted"
          >
            {{ run.run_id }}
          </a>
        </th>
        <th>{{ run.compare_timestamp }}</th>
        <th>{{ run.object_type }}</th>
        {% if run.object_type == "bmc" %}
        <th>{{ run.object_bmc.fqdn }}</th>
        {% elif run.object_type == "device_type" %}
        <th>{{ run.object_device_type.name }}</th>
        {% elif run.object_type == "enclosure" %}
        <th>{{ run.object_enclosure.name }}</th>
        {% elif run.object_type == "machine" %}
        <th>{{ run.object_machine.fqdn }}</th>
        {% elif run.object_type == "manufacturer" %}
        <th>{{ run.object_manufacturer.name }}</th>
        {% elif run.object_type == "network_interface" %}
        <th>{{ run.object_network_interface.name }}</th>
        {% else %}
        <th>Unkown object name</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}

  <div class="alert alert-info">No NetBox Orthos comparison runs found!</div>

  {% endif %} {% include 'frontend/snippet.paginator.html' %}
</div>

{% endblock %}
