{% extends 'frontend/base.html' %}
{% load static %}
{% load tags %}

{% block navbar %}
{% include 'frontend/snippet.navlinks.html' %}
{% endblock %}

{% block content %}

{% include 'frontend/devicetypes/devicetypes_filterbar.html' %}
{% include 'frontend/snippet.paginator.html' %}

<div class="container-fluid">
  {% if page_obj %}
    <table class="table table-striped table-bordered table-fixed">
      <thead class="thead-default">
        <tr style="border: 1px solid #ddd;">
          <th>Name {% order_list request 'name' %}</th>
          <th>Manufacturer {% order_list request 'manufacturer' %}</th>
          <th>Cartridge/Blade</th>
          <th>NetBox ID {% order_list request 'netbox_id' %}</th>
          <th width="80px">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        {% for devicetype in page_obj %}
          <tr>
            <td>
              <a
                href="{% url 'frontend:devicetype_detail' devicetype.pk %}"
                class="text-muted"
                >{{ devicetype.name }}</a
              >
            </td>
            <td>{{ devicetype.manufacturer }}</td>
            <td>{{ devicetype.is_cartridge }}</td>
            <td>{{ devicetype.netbox_id }}</td>
            <td>
              <a
                href="{% url 'frontend:delete_devicetype' devicetype.pk %}"
                class="btn btn-danger btn-sm"
              >
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'frontend/snippet.paginator.html' %}
  {% else %}
    <div class="alert alert-info">No device types found!</div>
  {% endif %}
</div>
{% endblock %}
