{% extends 'frontend/base.html' %}
{% load static %}

{% block navbar %}
  {% include 'frontend/snippet.navlinks.html' %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="mb-3">
      <form
        class="pt-3"
        method="post"
        {% if action == 'new' %}
          action="{% url 'frontend:new_devicetype' %}"
        {% elif action == 'edit' %}
          action="{% url 'frontend:edit_devicetype' object.id %}"
        {% endif %}
      >
        {% csrf_token %}

        {{ form.name.errors }}
        <div class="row" style="margin: 5px;">
          <div class="col-3">
            <label for="{{ form.name.id_for_label }}">
              {{ form.name.label }}:
            </label>
          </div>
          <div class="col-9">
            {{ form.name }}
            <small class="form-text text-muted">
              {{ form.name.help_text }}
            </small>
          </div>
        </div>

        {{ form.manufacturer.errors }}
        <div class="row" style="margin: 5px;">
          <div class="col-3">
            <label for="{{ form.manufacturer.id_for_label }}">
              {{ form.manufacturer.label }}:
            </label>
          </div>
          <div class="col-9">
            {{ form.manufacturer }}
            <small class="form-text text-muted">
              {{ form.manufacturer.help_text }}
            </small>
          </div>
        </div>

        {{ form.is_cartridge.errors }}
        <div class="row" style="margin: 5px;">
          <div class="col-3">
            <label for="{{ form.is_cartridge.id_for_label }}">
              {{ form.is_cartridge.label }}:
            </label>
          </div>
          <div class="col-9">
            {{ form.is_cartridge }}
            <small class="form-text text-muted">
              {{ form.is_cartridge.help_text }}
            </small>
          </div>
        </div>

        {{ form.description.errors }}
        <div class="row" style="margin: 5px;">
          <div class="col-3">
            <label for="{{ form.description.id_for_label }}">
              {{ form.description.label }}:
            </label>
          </div>
          <div class="col-9">
            {{ form.description }}
            <small class="form-text text-muted">
              {{ form.description.help_text }}
            </small>
          </div>
        </div>

        {{ form.netbox_id.errors }}
        <div class="row" style="margin: 5px;">
          <div class="col-3">
            <label for="{{ form.netbox_id.id_for_label }}">
              {{ form.netbox_id.label }}:
            </label>
          </div>
          <div class="col-9">
            {{ form.netbox_id }}
            <small class="form-text text-muted">
              {{ form.netbox_id.help_text }}
            </small>
          </div>
        </div>

        <button type="submit" class="btn btn-secondary btn-sm w-100">
          Submit
        </button>
      </form>
    </div>
  </div>
{% endblock %}
