{% extends 'frontend/base.html' %}
{% load static %}
{% load tags %}

{% block navbar %}
  {% include 'frontend/snippet.navlinks.html' %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <form method="post">
      {% csrf_token %}
      <p>
        Are you sure you want to revoke the API token belonging to
        "{{ object.user.username }}"?
      </p>
      <input
        class="btn btn-danger btn-sm"
        type="submit"
        value="Confirm revocation"
      />
    </form>
  </div>
{% endblock %}
